<div class="card-wrapper">
  <div class="card">
    <p><span>CODE</span> Articles on front-end development and more.</p>
    <p>
      All articles are written by <span> Ademola Madelewi</span>, frontend
      developer.
    </p>
    <div class="icons">
      <a href="/"
        ><svg
          width="19"
          height="15"
          viewBox="0 0 19 15"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M17.047 3.73827C17.0591 3.90232 17.0591 4.06641 17.0591 4.23047C17.0591 9.23435 13.1409 15 5.97972 15C3.77348 15 1.724 14.3789 0 13.3008C0.313464 13.3359 0.614831 13.3477 0.940355 13.3477C2.76076 13.3477 4.43655 12.75 5.77476 11.7305C4.06282 11.6953 2.62817 10.6055 2.13387 9.10547C2.37501 9.1406 2.61611 9.16405 2.86931 9.16405C3.21892 9.16405 3.56856 9.11715 3.89405 9.03516C2.10979 8.68357 0.771544 7.16015 0.771544 5.32031V5.27345C1.28993 5.5547 1.89277 5.73048 2.53169 5.75389C1.48282 5.07419 0.795665 3.91405 0.795665 2.60154C0.795665 1.89842 0.988523 1.25389 1.32611 0.691389C3.243 2.98826 6.12437 4.48824 9.35531 4.65233C9.29504 4.37108 9.25886 4.07814 9.25886 3.78516C9.25886 1.6992 10.9949 0 13.1529 0C14.2741 0 15.2868 0.45703 15.9981 1.19531C16.8782 1.03126 17.7221 0.714835 18.4696 0.281252C18.1802 1.16018 17.5653 1.89846 16.7576 2.36718C17.5413 2.28519 18.3008 2.0742 19 1.78126C18.4696 2.53123 17.8065 3.19917 17.047 3.73827Z"
            fill="#232D47"
          />
        </svg>
      </a>
      <a href="/"
        ><svg
          width="18"
          height="17"
          viewBox="0 0 18 17"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M4.02911 17H0.297321V5.64997H4.02911V17ZM2.16121 4.10172C0.967902 4.10172 0 3.16822 0 2.04118C8.54116e-09 1.49983 0.227698 0.980645 0.633002 0.597849C1.03831 0.215053 1.58802 0 2.16121 0C2.73439 0 3.2841 0.215053 3.68941 0.597849C4.09471 0.980645 4.32241 1.49983 4.32241 2.04118C4.32241 3.16822 3.35411 4.10172 2.16121 4.10172ZM17.996 17H14.2722V11.4749C14.2722 10.1581 14.2441 8.46945 12.332 8.46945C10.3918 8.46945 10.0945 9.90006 10.0945 11.38V17H6.3667V5.64997H9.9458V7.19822H9.99804C10.4963 6.30646 11.7133 5.36537 13.5289 5.36537C17.3057 5.36537 18 7.7143 18 10.7653V17H17.996Z"
            fill="#232D47"
          />
        </svg>
      </a>
    </div>
  </div>
</div>
