<header>
    <nav class="navbar container">
      <h2 class="brand"><a href="/">CODE</a></h2>
      <div class="right">
        <a href="/search"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg></a> 
      <button id="burger" class="" aria-label="bruger-menu">
        <div class=""></div>
        <div class=""></div>
        <div class=""></div>
      </button>
      <nav class="menu">
        <a exact href="/" class="active">
          Home
        </a>
        <a href="/saved-articles">Saved articles</a>
        <a href="/subscribe">Subscribe</a>
      </nav>
    </nav>
  </div>
  </header>