<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>
  <body>
    <%- include("../partials/header.ejs") %>

    <section class="container main-content">
      <div class="">
        <div class="form">
          <form action="http://localhost:3000/add-blog" method="POST">
            <div class="form-group">
              <label for="#title" class="title-label">Title</label>
              <input
                type="text"
                aria-describedby="title input"
                name="title"
                id="title"
                placeholder="Title"
                class="title-input"
              />
            </div>
            <div class="form-group">
              <label for="#snippets" class="snippets-label">Snippet</label>
              <input
                type="text"
                aria-describedby="snippets input"
                id="snippets"
                name="snippets"
                placeholder="Snippets"
                class="snippet-input"
              />
            </div>
            <div class="form-group">
              <label for="#body" class="search-label">Body</label>
              <textarea name="body" id="body" cols="30" rows="10"></textarea>
            </div>
            <div class="form-group">
              <button>Submit</button>
            </div>
          </form>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <p>All articles written by Ademola Madelewi</p>
      </div>
    </footer>
    <script async src="/index.js"></script>
  </body>
</html>
