@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@300;400;500;600;700;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Serif JP", serif;
  background-color: rgb(247, 244, 244);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  border-bottom: 2px solid darkgray;
}
footer {
  border-top: 2px solid darkgray;
  padding: 1.2em;
}
.container {
  width: 1200px;
  max-width: 98%;
  margin: 0 auto;
}
.main-content {
  flex: 1;
}
.main-wrapper {
  display: flex;
}
.search-wrapper {
  justify-content: center;
  align-items: center;
}
.search-label {
  margin-bottom: 2.5em;
  font-size: 1.8rem;
  font-weight: 900;
}
.search-input {
  width: 80%;
  height: 40px;
  border-radius: 5px;
  padding-left: 1em;
  border: 1px solid lightgray;
  margin-top: 2em;
}
.blog-wrapper,
.form {
  width: 68%;
}
.form input {
  display: block;
}
.card-wrapper {
  width: 28%;
}
.icons {
  margin: 0.9em 0;
}
.icons a {
  margin-right: 1em;
}
.card {
  border: 2px solid lightgray;
  padding: 0.9em;
  margin-top: 30%;
  margin-left: 0.8em;
}
.card span {
  font-weight: bold;
}
.card p:nth-child(2) {
  margin-top: 2em;
}

.blog {
  margin: 2em 0;
  padding: 4em 0;
  border-top: 2px solid lightgray;
}
.blog:nth-child(1) {
  border-top: 0;
}
.blog-detail {
  border-bottom: 2px solid lightgray;
}
.disqus-thread {
  margin-top: 1em;
}

.blog a {
  font-size: 1.7rem;
  font-weight: 900;
  text-decoration: none;
  color: black;
}
.blog p {
  margin-top: 1.6em;
}
.truncate {
  text-overflow: ellipsis;
  height: 100%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
}
.brand {
  letter-spacing: -5px;
  font-size: 2rem;
}
.brand a {
  color: black;
}
.right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.right a {
  margin-right: 1.5em;
}

button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 1001;
}
button:focus {
  outline: none;
}

#burger div {
  width: 2rem;
  height: 0.25rem;
  background: black;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  position: relative;
  transform-origin: 1px;
  -webkit-transform-origin: 1px;
  -ms-transform-origin: 1px;
}
#burger div:first-child {
  transform: rotate(0);
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
}

#burger div:nth-child(2) {
  opacity: 1;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
}

#burger div:nth-child(3) {
  transform: rotate(0);
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
}
#burger.changed div:nth-child(1) {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  width: 2rem;
}
#burger.changed div:nth-child(2) {
  transform: translateX(20px);
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  opacity: 0;
}
#burger.changed div:nth-child(3) {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
}

/* navigation menu */

nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: rgb(247, 244, 244);
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  height: 100vh;
  text-align: center;
  padding: 2rem;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  -ms-transition: -ms-transform 0.3s ease-in-out;
  overflow-y: auto;
  white-space: nowrap;
  -ms-overflow-style: none;
}
nav .menu::-webkit-scrollbar {
  display: none;
}
nav .menu[transform] {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  display: flex;
  width: 100%;
}
nav .menu[-webkit-transform] {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
}
nav .menu[-ms-transform] {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
}
.menu a {
  margin: 2em 0;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.5rem;
}
.brand {
  font-weight: 700;
}

footer p {
  text-align: center;
}

@media (max-width: 567px) {
  .main-wrapper {
    flex-direction: column;
    margin-top: 2em;
  }
  .form {
    width: 90%;
    margin-bottom: 4em;
  }
  .search-input {
    width: 100%;
  }
  .blog-wrapper,
  .card-wrapper {
    width: 100%;
    margin: 2em auto;
  }
  .card {
    margin-top: 0;
    margin-bottom: 2em;
    margin-left: 0;
  }
  .card-wrapper {
    width: 90%;
  }
  .blog {
    margin: 0;
    padding: 2em 1.7em;
  }
}
.error-view {
  display: none;
}
/* .bookmark {
  fill: black;
} */
